@page
@model RazorPages.Pages.Employees.AddModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using RazorPages.Model.ModelViews
@{
}
<form method="post">
    <h1 class="mb-3">Add Employees</h1>

    <div class="mb-3">
        <label for="Ssn">Social Security Number:</label>
        <input type="text" class="form-control col-md-6" asp-for="AddEmployeeRequest.Ssn" id="Ssn" name="Ssn" pattern="\d{9}" minlength="9" maxlength="9" required>
        <small class="form-text text-muted">Please enter a 9-digit Social Security Number.</small>
    </div>

    <partial name="/Pages/Shared/_form.cshtml" for="AddEmployeeRequest"/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
